<div class="review">
  <div class="review__image">
    <img ng-src="{{ displayed_image }}" />
  </div>
  <ul class="review__selection">
    <li>
      <input type="radio" name="image_classification" id="is_human"  />
      <label for="is_human">Human</label>
    </li>
    <li>
      <input type="radio" name="image_classification" id="is_animal"  />
      <label for="is_animal">Animal</label>
    </li>
    <li>
      <input type="radio" name="image_classification" id="is_neither"  />
      <label for="is_neither">Neither</label>
    </li>
  </ul>
  <button class="review__confirm">Confirm</button>
</div>