<div class="review">
  <div class="review__image">
    <img ng-show="show_image" ng-src="{{ displayed_image }}" />
  </div>
  <div class="review__classification" ng-class="">
    <p class="review__classification--header">Classification</p>
    <ul>
      <li>
        <input type="radio" name="image_classification" id="is_human" value="0" ng-model="current_class" />
        <label for="is_human">Human</label>
      </li>
      <li>
        <input type="radio" name="image_classification" id="is_animal" value="1" ng-model="current_class" />
        <label for="is_animal">Animal</label>
      </li>
      <li>
        <input type="radio" name="image_classification" id="is_neither" value="2" ng-model="current_class" />
        <label for="is_neither">Neither</label>
      </li>
    </ul>
  </div>
  <div class="review__confirm">
    <p>Please do not share these images.<br />Doing so could put wild animals at risk.</p>
    <button>Confirm</button>
  </div>
</div>
<div class="too_small">
  <p>The screen size of your device is too small to use this application.</p>
</div>