<div class="review">
  <div class="review__image">
    <img ng-show="show_image" ng-src="{{ displayed_image }}" />
  </div>
  <div class="review__classification">
    <h6 class="review__classification--header">Classification</h6>
    <ul>
      <li>
        <input type="radio" name="image_classification" id="is_human"  />
        <label for="is_human">Human</label>
      </li>
      <li>
        <input type="radio" name="image_classification" id="is_animal"  />
        <label for="is_animal">Animal</label>
      </li>
      <li>
        <input type="radio" name="image_classification" id="is_neither"  />
        <label for="is_neither">Neither</label>
      </li>
    </ul>
  </div>
  <div class="review__confirm">
    <button>Confirm</button>
  </div>
</div>